.KVP {
    background-color:  #fefefa;
    width: 600px;
    margin: 0 auto 400px;
    border-radius: 20px;
    box-shadow: 5px 5px 1px #18F2B2;
}
  

.KVP > p {
    font-size: 20px;
    padding: 0 20px 20px 20px;
}
  
.KVP > h1 {
    text-align: center;
    padding: 20px 0 0 0;
}